<div class="p-3 rounded-lg shadow" *ngIf="isEdit">
  <form #productForm="ngForm">
    <div class="mb-3">
      <h1>Produto</h1>
    </div>
    <!-- Nome -->
    <div [classList]="isMobile ? 'flex flex-column gap-3 mb-3' : 'flex gap-3 mb-3' ">

      <div class="form-floating">
        <input type="text" class="form-control" id="nome" placeholder="exemplo" [(ngModel)]="product.name" name="name"
          required minlength="4" #name="ngModel"
          [ngClass]="name.invalid && (name.dirty || name.touched) ? 'is-invalid' : ''"
          [ngClass]="name.valid && (name.dirty || name.touched) ? 'is-valid' : ''">
        <label for="nome">Nome</label>
        <div *ngIf="name.errors?.['required'] && (name.dirty || name.touched)" class="invalid-feedback">
          Nome é obrigatório
        </div>
        <div *ngIf="name.errors?.['minlength'] && (name.dirty || name.touched)" class="invalid-feedback">
          Nome Inválido
        </div>
      </div>

      <!-- categoria -->
      <div class="form-floating">
        <select class="form-select" id="floatingSelect" name="idCategory" [(ngModel)]="idCategory"
          (ngModelChange)="getCategoryName()">
          <option selected value=""></option>
          <option *ngFor="let category of categories$ | async" value={{category.id}}> {{category.name}} </option>
        </select>
        <label for="floatingSelect">Categoria</label>
      </div>

    </div>

    <!-- Descrição -->
    <div class="form-floating mb-3">
      <ckeditor [(ngModel)]="product.description" [editor]="Editor" [ngModelOptions]="{ standalone: true }"></ckeditor>
    </div>

    <div [classList]="isMobile ? 'flex flex-column gap-3 mb-3' : 'flex gap-3 mb-3' ">

      <!-- Price -->
      <div class=" flex-1 input-group">
        <span class="input-group-text">R$</span>
        <div class="form-floating">
          <input type="number" class="form-control" id="price" placeholder="exemplo" [(ngModel)]="product.price"
            name="price">
          <label for="price">Preço</label>
        </div>
      </div>

      <!-- Quantity -->
      <div class="form-floating flex-1">
        <input type="number" class="form-control" id="quantity" placeholder="exemplo" [(ngModel)]="product.quantity"
          name="quantity">
        <label for="quantity">Quantidade</label>
      </div>

    </div>

    <div class="flex mb-3 gap-3 w-full items-center">

      <!-- Image -->
      <div>
        <label for="fileInput" class="custom-file-input" class="rounded-lg border p-2 cursor-pointer">
          Selecione uma imagem
        </label>
        <input type="file" id="fileInput" class="d-none" accept="image/*" (change)="onFileSelected($event)">
        <span *ngIf="file"> {{ file.name }} </span>
      </div>

      <button class="max-w-max btn btn-outline-dark" (click)="addImage($event)"><i
          class="bi bi-plus-square-fill h-full"></i></button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Imagem</th>
          <th scope="col">Preview</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let image of product.Images; let i = index" class="align-middle h-8">
          <td scope="row">Imagem {{i + 1}} </td>
          <td>
            <img src="{{image.url}}" alt="" class="w-11">
          </td>
          <td>
            <button><span class="material-icons">
                delete_outline
              </span></button>
          </td>
        </tr>
      </tbody>
    </table>


    <!-- Actions -->
    <div class="flex flex-row-reverse justify-start w-full gap-2">
      <button [disabled]="!productForm.form.valid" class="btn btn-primary" (click)="submit()">SALVAR</button>
      <button class="btn btn-danger" (click)="cancel()">CANCELAR</button>
    </div>

  </form>

</div>
<div class="loading" class="flex justify-center items-center h-full" *ngIf="isLoading">
  <div class="lds-dual-ring"></div>
</div>

<div class="rounded-lg shadow mt-4 py-3" *ngIf="!isLoading">
  <div class="form-floating mx-3">
    <input type="email" class="form-control" id="nome" placeholder="Pesquisar..." (keyup)="applyFilter($event)">
    <label for="nome">Filtro</label>
  </div>
  <table mat-table [dataSource]="dataSource" matSort #sort>
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">
        {{ row.id }}
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let row">
        {{ row.name }}
      </td>
    </ng-container>
    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
      <td mat-cell *matCellDef="let row" [innerHTML]="row.description">

      </td>
    </ng-container>

    <!-- price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Preço</th>
      <td mat-cell *matCellDef="let row">
        {{ row.price | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}
      </td>
    </ng-container>

    <!-- quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantidade</th>
      <td mat-cell *matCellDef="let row">
        {{ row.quantity }}
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="this.edit(row.id)" class="edit">
          <i class="material-icons">edit</i>
        </button>
        <button mat-icon-button (click)="this.delete(row.id)" class="delete">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="isMobile ? displayedColumnsMobile : displayedColumns"></tr>
    <tr mat-row *matRowDef="
        let row;
        columns: isMobile ? displayedColumnsMobile : displayedColumns
      "></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nenhum produto encontrado!</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Paginator"></mat-paginator>
</div>
