.sidebar {
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  width: 256px;
  transition: all 0.3s;
}

.sidebar-close {
  display: hidden;
}

.content {
  width: calc(100vw - 256px);
  transition: margin-left 0.3s;
}

.content-mobile {
  width: 100vw;
}
