<div class="p-3 rounded-lg shadow">
  <form #productForm="ngForm">
    <div class="mb-3">
      <h1>Status</h1>
    </div>
    <!-- Nome -->
    <div class="flex-2 form-floating mb-3">
      <input type="text" class="form-control" id="nome" placeholder="exemplo" [(ngModel)]="status.name" name="name"
        required minlength="4" #name="ngModel"
        [ngClass]="name.invalid && (name.dirty || name.touched) ? 'is-invalid' : ''"
        [ngClass]="name.valid && (name.dirty || name.touched) ? 'is-valid' : ''">
      <label for="nome">Nome</label>
      <div *ngIf="name.errors?.['required'] && (name.dirty || name.touched)" class="invalid-feedback">
        Nome é obrigatório
      </div>
      <div *ngIf="name.errors?.['minlength'] && (name.dirty || name.touched)" class="invalid-feedback">
        Nome Inválido
      </div>
    </div>

    <!-- description -->
    <div class="form-floating mb-3">
      <ckeditor [(ngModel)]="status.description" [editor]="Editor" [ngModelOptions]="{ standalone: true }"></ckeditor>
    </div>

    <!-- color -->
    <div class="form-floating mb-3">
      <button class="btn h-6 py-0 text-white fw-bold" [style.background]="status.color"
        [(colorPicker)]="status.color">Selecionar
        cor</button>
    </div>

    <!-- Actions -->
    <div class="flex flex-row-reverse justify-start w-full gap-2">
      <button [disabled]="!productForm.form.valid" class="btn btn-primary" (click)="onSubmit()">SALVAR</button>
      <button class="btn btn-danger" (click)="cancel()">CANCELAR</button>
    </div>
  </form>


  <!-- table -->

</div>

<div class="mt-4 p-3 rounded-lg shadow">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Tag</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let status of statusList">
        <td scope="row"> {{status.name}} </td>
        <td>
          <span class="w-25 h-7 rounded-3 px-3 text-white fw-bold"
            [style.background]="status.color">{{status.name}}</span>
        </td>
        <td>
          <button mat-icon-button (click)="this.edit(status._id ? status._id : '')" class="edit">
            <i class="material-icons">edit</i>
          </button>
          <button mat-icon-button (click)="this.delete(status._id ? status._id : '')" class="delete">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>