@import "~bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap/scss/bootstrap";
@import "@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat-core();

$primary: mat-palette($mat-gray);
$secondary: mat-palette($mat-gray, 200);
$warn: mat-palette($mat-red, 900);

$custom-theme: mat-dark-theme($primary, $secondary, $warn);

@include angular-material-theme($custom-theme);

// Seu código SCSS personalizado abaixo...

/* Importing Bootstrap SCSS file. */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
