<div class="p-3 rounded-lg shadow">
  <form #productForm="ngForm">
    <div class="mb-3">
      <h1>Produto</h1>
    </div>
    <!-- Nome -->
    <div [classList]="isMobile ? 'flex flex-column gap-3 mb-3' : 'flex gap-3 mb-3' ">

      <div class="flex-2 form-floating">
        <input type="text" class="form-control" id="nome" placeholder="exemplo" [(ngModel)]="product.name" name="name"
          required minlength="4" #name="ngModel"
          [ngClass]="name.invalid && (name.dirty || name.touched) ? 'is-invalid' : ''"
          [ngClass]="name.valid && (name.dirty || name.touched) ? 'is-valid' : ''">
        <label for="nome">Nome</label>
        <div *ngIf="name.errors?.['required'] && (name.dirty || name.touched)" class="invalid-feedback">
          Nome é obrigatório
        </div>
        <div *ngIf="name.errors?.['minlength'] && (name.dirty || name.touched)" class="invalid-feedback">
          Nome Inválido
        </div>
      </div>

      <!-- categoria -->
      <div class="flex-auto form-floating">
        <select class="form-select" id="floatingSelect" name="idCategory" [(ngModel)]="idCategory"
          (ngModelChange)="getCategoryName()">
          <option selected value=""> Selecione uma opção... </option>
          <option *ngFor="let category of categories$ | async" value={{category.id}}> {{category.name}} </option>
        </select>
        <label for="floatingSelect">Categoria</label>
      </div>

    </div>

    <!-- Descrição -->
    <!-- <div class="form-floating mb-3">
      <textarea type="text" class="form-control" id="desc" placeholder="exemplo" [(ngModel)]="product.description"
        name="description"></textarea>
      <label for="desc">Descrição</label>
    </div> -->
    <div class="form-floating mb-3">
      <ckeditor [(ngModel)]="product.description" [editor]="Editor" [ngModelOptions]="{ standalone: true }"></ckeditor>
    </div>

    <div [classList]="isMobile ? 'flex flex-column gap-3 mb-3' : 'flex gap-3 mb-3' ">

      <!-- Price -->
      <div class=" flex-1 input-group">
        <span class="input-group-text">R$</span>
        <div class="form-floating">
          <input type="number" class="form-control" id="price" placeholder="exemplo" [(ngModel)]="product.price"
            name="price">
          <label for="price">Preço</label>
        </div>
      </div>

      <!-- Quantity -->
      <div class="form-floating flex-1">
        <input type="number" class="form-control" id="quantity" placeholder="exemplo" [(ngModel)]="product.quantity"
          name="quantity">
        <label for="quantity">Quantidade</label>
      </div>

    </div>

    <div class="flex mb-3 gap-3 w-full items-center">

      <!-- Image -->
      <div>
        <label for="fileInput" class="custom-file-input" class="rounded-lg border p-2 cursor-pointer">
          Selecione uma imagem
        </label>
        <input type="file" id="fileInput" class="d-none" accept="image/*" (change)="onFileSelected($event)">
        <span *ngIf="file"> {{ file.name }} </span>
      </div>

      <button class="max-w-max btn btn-outline-dark" (click)="addImage($event)"><i
          class="bi bi-plus-square-fill h-full"></i></button>
    </div>

    <table class="table" *ngIf="product.Images.length > 0">
      <thead>
        <tr>
          <th scope="col">Imagem</th>
          <th scope="col">Preview</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let image of product.Images; let i = index" class="align-middle h-8">
          <td scope="row">Imagem {{i + 1}} </td>
          <td>
            <img src="{{image.url}}" alt="" class="w-11">
          </td>
          <td>
            <button><span class="material-icons">
                delete_outline
              </span></button>
          </td>
        </tr>
      </tbody>
    </table>


    <!-- Actions -->
    <div class="flex flex-row-reverse justify-start w-full gap-2">
      <button [disabled]="!productForm.form.valid" class="btn btn-primary" (click)="submit()">SALVAR</button>
      <button class="btn btn-danger" (click)="cancel()">CANCELAR</button>
    </div>

  </form>

  <!-- preview -->
  <div class="flex justify-center mb-3 mt-3">


    <button class="btn btn-dark" (click)="preview = !preview" *ngIf="!preview">Vizualizar preview</button>

    <div class="card shadow" style="width: 18rem;" *ngIf="preview">
      <ngb-carousel class="h-52">
        <ng-template ngbSlide *ngFor="let image of product.Images" class="text-black">
          <div class="picsum-img-wrapper">
            <img [src]="image.url" alt="preview" class="card-img-top h-52 object-cover" />
          </div>
        </ng-template>
      </ngb-carousel>
      <div class="card-body">
        <h5 class="card-title">Nome: {{product.name}}</h5>
        <div [innerHTML]="product.description" class="w-full"></div>
        <p class="card-text mt-2">Categoria: {{product.category?.name}}</p>
        <p class="card-text">R$ {{product.price?.toFixed(2)}}</p>
      </div>
    </div>
  </div>

</div>